
<span class="Section_Header"> Add Vehicle </span>
<table>
    <tr>
        <td>Vehicle Nickname</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Vehicle Name</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Registration Number</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Fuel Type</td>
        <td>
            <input type="radio" name="FuelType"> Petrol 
            <input type="radio" name="FuelType"> Diesel 
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit"></td>
    </tr>
</table>
